# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Flutter
apps/mobile-flutter/.dart_tool/
apps/mobile-flutter/build/
apps/mobile-flutter/.flutter-plugins
apps/mobile-flutter/.flutter-plugins-dependencies
apps/mobile-flutter/pubspec.lock

# Test / coverage
coverage/
.nyc_output/

# Misc
*.swp
.turbo
